body {
    background-image: url('Assests/BG1.jpg');
    background-size: 100%;
    background-opacity: 0.5;
    margin: 0;
    padding: 0;
    width: 100%;
}

.center {
  display: block;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:auto;
  width: 35%;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}